.section-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  @include media-breakpoint-up($main-breakpoint) {
    flex-direction: row;
  }

  &__image {
    flex: 1 0 auto;
    background-image: url('../images/ken-nadeau.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 35% 0%;
    height: 30vh;

    @include media-breakpoint-up($main-breakpoint) {
      height: auto;
      background-size: cover;
      background-position: 0% 0%;
    }
  }

  &__content {
    flex: 0 1 auto;
    text-align: justify;
    max-width: none;

    @include media-breakpoint-up($main-breakpoint) {
      max-width: 60%;
      margin-left: 3rem;
    }
  }
}
