#past {
  padding-bottom: 0;
}
.timeline {
  $timelineColor: #424242;
  position: relative;
  z-index: 1;
  overflow: auto;

  @include media-breakpoint-up($main-breakpoint) {
    padding: 4rem 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 1px;
    background: $timelineColor;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-1px);

    @include media-breakpoint-up($main-breakpoint) {
      width: 2px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    margin: 0 0 8vh;

//    &:hover {
//      .timeline__image img {
//        box-shadow:
//          0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
//        transform: translateY(-0.5rem);
//      }
//    }

    @include media-breakpoint-up($main-breakpoint) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      > div {
        width: 50%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .timeline__image {
          &::after {
            left: 0;
            right: 50%;
          }
        }

        .timeline__content {
          h3 {
            text-align: right;
          }
        }
      }
    }
  }

  &__image {
    order: -1;
    padding: 2rem 4rem 0;
    z-index: 2;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      border: 0.5rem solid #fff;
      box-shadow:
        0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
      transition: all 0.15s ease-out;
    }

    @include media-breakpoint-up($main-breakpoint) {
      position: relative;
      z-index: 1;
      padding: 0 4rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 50%;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: $timelineColor;
      }

      img {
        position: relative;
        z-index: 2;
      }
    }
  }

  &__content {
    z-index: 1;
    background: #fff;

    h3 {
      text-align: center;
      font-size: calc(1rem + 2vh);
      font-weight: 300;
      margin: 1em 0 0.25em;
    }

    p {
      text-align: justify;
    }

    @include media-breakpoint-up($main-breakpoint) {
      padding: 3rem;
      margin: 0;
      background: none;

      h3 {
        text-align: left;
      }
    }
  }
}

.ReactModal {
  &__Body {
    &--open {
      overflow: hidden;
    }
  }

  &__Overlay {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__Content {
    max-width: 90%;
    max-height: 90%;
    min-width: 60%;
    overflow: hidden;
    border: none;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow:
      0 16px 24px 2px rgba(0,0,0,0.14),
      0 6px 30px 5px rgba(0,0,0,0.12),
      0 8px 10px -5px rgba(0,0,0,0.3);
    padding: 0;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__Title {
    padding: 1rem;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid $blue-grey-50;
    font-size: 2rem;
    font-weight: 200;
  }

  &__Button {
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    background: $pchc-blue;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
    padding: 0.75em;
    cursor: pointer;
    transition: 0.2s cubic-bezier(.22,.61,.36,1) background;
    &:hover {
      background: lighten($pchc-blue, 13%);
    }

    &--close {
      font-size: 1.2rem;
      border-radius: 0 0 0.25rem 0.25rem;
      min-height: 3rem;
    }
  }

  &__Details {
    overflow: hidden;
  }
}

.TimelineDetails {
  &__Content {
    display: flex;
  }

  &__Images {
    flex: 0 0 50%;
    padding: 1rem;
  }

  &__Text {
    padding: 1rem;
    overflow: auto;
  }

  &__Images {

    &--more {
      display: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__Thumb {
    flex-basis: 18%;
    padding: 0.5rem 0;

    img {
      cursor: pointer;
    }
  }
}
