.section-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  @include media-breakpoint-up($main-breakpoint) {
    flex-direction: row;
  }

  &__image {
    flex: 1 0 auto;
    background-image: url('../images/charles-roberts.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 0%;
    height: 30vh;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 75%;
      background: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
    }

    @include media-breakpoint-up($main-breakpoint) {
      height: auto;
      background-size: contain;
      background-position: 50% 100%;
    }
  }

  &__content {
    flex: 0 1 auto;
    text-align: justify;
    max-width: none;

    @include media-breakpoint-up($main-breakpoint) {
      max-width: 60%;
      margin-left: 3rem;
    }
  }
}
