// Import variables
@import "./common/variables";

@import "./dependencies/sanitize";
@import "./dependencies/hamburgers";

// Import components
@import "./common/breakpoints-mixins";
@import "./common/global";
@import "./components/header";
@import "./components/section-video";
@import "./components/section-intro";
@import "./components/section-past";
@import "./components/section-present";
@import "./components/section-future";
@import "./components/section-more";

.loading {
  position: fixed;
  z-index: 999;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: currentColor;
    color: $pchc-blue;
    display: block;
    max-width: 50%;
    height: 1em;
    font-size: 5em;
    line-height: 1em;
    animation: load-spin 2s infinite linear;
    overflow: visible;
    vertical-align: -.225em;
    width: 1em;

    path {
      fill: currentColor;
    }
  }
}

@keyframes load-spin {
  0% {
    transform: rotate(0deg);
    color: $pchc-blue;
  }
  50% {
    color: $pchc-red;
  }
  100% {
    transform: rotate(360deg);
    color: $pchc-blue;
  }
}
